.find-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 30px;
    border-bottom: var(--main-border);
}
.find-icons__icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find-icons__icons i{
    font-size: 30px;
}
.find-icons__icons span{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    display: inline;
    justify-content: center;
}

.recommended-friends{
    padding: 20px 0;
    border-bottom: var(--main-border);
}
.recommended-friends__title{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}
.recommended-friends__title-sm{
    display: block;
    text-align: center;
    padding: 80px 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
}
.open-chat__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}
.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 5px;
}
.open-post__hashtags{
    opacity: 0.6;
}
.open-post__members{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__members-count{
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider{
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}
.open-post__member-status{
    color: palevioletred;
    font-size: 14px;
}
.open-post__photo{
    position: relative;
}
.open-post__photo img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.open-post__heart{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 12px;
}
.open-post__heart span{
    margin-left: 5px;
}