#friends-display-link{
    display: block;
    text-align: center;
    background: rgb(243, 243, 243);
    padding: 15px 0;
    margin-bottom: 10px;
    margin-top: -15px;
}
#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
    margin-right: 3px;
    position: relative;
    top: 2px;
    font-size: 18px;
}
.friends-screen{
    padding: 0 var(--horizontal-space);
}

.friends-screen{
    padding: 0 var(--horizontal-space);
}


.friends-screen__channel-header{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
