.badge{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: tomato;
    color: white;
}
.badge__me{
    padding: 3.5px 4px;
    font-size: 12px;
    border-radius: 50%;
    background: darkgray;
    color: white;
    margin-right: 10px;
}