
.user-component{
    justify-content: space-between;
    margin-bottom: 15px;
}
.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component__avatar{
    width: 60px;
    height: 60px;
    border-radius: 24px;
    margin-right: 20px;
    background: url(/screenshots/column.jpeg);
    background-size: cover;
}

.user-component__title{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}
.user-component__subtitle{
    margin-top: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* channel */
.user-component__avatar__channel{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 20px;
    background: url(/screenshots/01.png);
    background-position: 50% 50%;
    background-size: cover;
}

.user-component__title--not-bold{
    font-weight: 400;
}
.user-component__column:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.5);
}
/* friends-profile */

.user-component__friend-profile{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 20px;
    background: url(/screenshots/clone-02.jpeg);
    background-position: 50% 50%;
    background-size: cover;
}
.user-component__friend-profile-2{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 20px;
    background: url(/screenshots/clone-03.png);
    background-position: 50% 50%;
    background-size: cover;
}
.user-component__column-playlist{
    padding: 5px 14px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid green;
    border-radius: 25px;
    cursor: pointer;
}
.user-component__column-playlist i{
    color:  green;
}

/* chat */
.user-component__time{
    margin-bottom: 5px;
    font-size: 10px;
}

.user-component__02{
    margin-top: 15px;
}
.user-component__avatar__02{
    width: 60px;
    height: 60px;
    border-radius: 24px;
    margin-right: 20px;
    background: url(/screenshots/clone-02.jpeg);
    background-size: cover;
}
.user-component__avatar__03{
    width: 60px;
    height: 60px;
    border-radius: 24px;
    margin-right: 20px;
    background: url(/screenshots/clone-03.png);
    background-size: cover;
}